**/__pycache__
./dist/*
**/.cache
**/.coverage
**/.DS_Store
.env
**/.git
**/.idea
**/.idea/*
**/.mypy_cache
**/.pytest_cache
.python-version
.storage
.venv/
.vscode
*.egg-info
*.pyc
*.tar.gz
/src/.coverage
/src/.mypy_cache
/src/.pytest_cache
build/*
data
docs
htmlcov
TODO
