__pycache__
./dist/*
.cache
.coverage
.dmypy.json
.DS_Store
.env
.idea
.idea/*
.mypy_cache
.pytest_cache
.python-version
.testmondata
.venv/
.vscode
*.egg-info
*.pyc
*.tar.gz
**/.storage
build/*
coverage.html
coverage.xml
data/*
diff-cover.html
htmlcov
htmlmypy
site
src/.coverage
src/.mypy_cache
src/.pytest_cache
TODO
